@import 'tailwindcss';

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

:root {
  /* TODO Merge the two */
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;

  --bg-primary: #fafafa;
  --text-primary: #0f131a;
  --text-secondary: #e0e0e0;
  --brand-color: #3c83f6;
  --brand-color-light: #21e5e5;
  --brand-color-rgb: 60, 131, 246;

}

.dark {
  --sh-class: #4c97f8;
  --sh-identifier: white;
  --sh-keyword: #f47067;
  --sh-string: #0fa295;

  --bg-primary: #0f131a;
  --text-primary: #fafafa;
  --text-secondary: #e0e0e0;

  body {
    color-scheme: dark;
  }
}

html {
  min-width: 360px;
}

body {
    padding: 0;
    margin: 0;
    background: var(--bg-primary);
    color: var(--text-primary);
    font-family: var(--font-varela-round), sans-serif;
    font-size: 16px;
    /* Transition for dark mode */
    transition: all 0.2s;
}

input, textarea, button {
    font-family: inherit;
}


h1, h2, h3, h4, h5, h6 {
    color: var(--brand-color)
}

a {
    color: var(--text-primary);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.MuiTooltip-tooltip {
    font-size: 1em !important;
}

::-webkit-scrollbar {
    width: 0.3rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}
  
::-webkit-scrollbar-thumb {
    background: var(--text-primary);
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--text-secondary);
}


/* Hide scrollbar for code blocks */
pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}
