.circle-button {
    border: 0.2rem solid rgba(var(--brand-color-rgb), 0.6);
    color: var(--text-primary);
    background: var(--bg-primary);
    border-radius: 50%;
    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    transition: all 0.5s;
    margin: 0.5rem;

    &:hover {
        color: var(--bg-primary);
        background: var(--text-primary);
    }

    &.circle-button-animated {
        &:hover {
            transform: scale(1.1) translateY(-5px);
        }
    }

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}
